* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/** ESTIO MOBILE FIRST **/
/** 768px **/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img1 img2"  "img3 img4" "img5 img6"; } }

/** 1200px **/
@media screen and (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3 img4" "img1 img2 img3 img4" "img1 img2 img3 img4"; } }

/** ESTILOS NORMALES**/
/**HEADER**/
header {
  background-color: #003049; }

.header_size {
  height: 20vh;
  width: 100%; }

.ul_flex {
  display: flex;
  justify-content: center;
  list-style: none; }

.li_items {
  align-items: center;
  width: 25%;
  font-size: 30px; }

/**MAIN**/
main {
  background-color: #fdf0d5; }

.main_size {
  height: 60vh;
  width: 100%; }

.img_size-color1 {
  background-color: aliceblue;
  grid-area: img1; }

.img_size-color2 {
  background-color: aliceblue;
  grid-area: img2; }

.img_size-color3 {
  background-color: aliceblue;
  grid-area: img3; }

.img_size-color4 {
  background-color: aliceblue;
  grid-area: img4; }

.img_size-color5 {
  background-color: aliceblue;
  grid-area: img5; }

.img_size-color6 {
  background-color: aliceblue;
  grid-area: img6; }

/**FOOTER**/
footer {
  background-color: #c1121f; }

.footer_size {
  height: 20vh;
  width: 100%; }

/** EFECTOS **/
.efecto {
  background-image: linear-gradient(to left bottom, #8e4882, #d34e70, #f67343, #eaae00, #a8eb12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8e4882; }

/**Formulario de contacto**/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049; }

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }
